[Desktop Entry]
Version=1.0
Type=Application
Name=Run Nepali Program
GenericName=Nepali Interpreter
Comment=नेपाली प्रोग्राम चलाउनुहोस् (Run in Terminal)
Exec=nepali %f
Icon=nepali
Terminal=true
NoDisplay=true
Categories=Development;
MimeType=text/x-nepali;
