label live-amd64
	menu label ^Nepali OS (Nepali language)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components username=nepali hostname=nepalios quiet loglevel=3 systemd.show_status=false

label live-amd64-failsafe
	menu label Nepali OS (fail-safe mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components username=nepali hostname=nepalios memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788
